<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="stylesheets/admin/dashboard.css">
  <title>Dashboard</title>
</head>

<body class="bg-dark">
  <nav id="navbar">
    <ul>
      <li><a href="#user-game" id="user" class="nav-link text-white">user_game</a></li>
      <li><a href="#user-game-biodata" id="biodata" class="nav-link text-white">user_game_biodata</a></li>
      <li><a href="#user-game-history" id="history" class="nav-link text-white">user_game_history</a></li>
      <li class="me-1"><a href="/logout-admin" id="logout" class="nav-link text-white">Logout</a></li>
    </ul>
  </nav>
  <main id="main-doc">
    <section class="main-section" id="user-game">
      <header>user_game</header>
      <article>
        <table class="table table-dark">
          <thead>
          <tr>
              <th scope="col">
                  <input type="checkbox" value="all">
              </th>
              <th scope="col">No</th>
              <th scope="col">Username <%= admin %></th>
              <th scope="col">Password</th>
              <th scope="col">Subscribed</th>
              <th scope="col" width="20%">Action</th>
          </tr>
          </thead>
          <tbody>
              <% userList.forEach((user) => { %>
                  <tr>
                      <th scope="row">
                          <input type="checkbox" value="<%= user.id %>">
                      </th>
                      <td><%= user.id %></td>
                      <td><%= user.username %></td>
                      <td><%= user.password %></td>
                      <td><%= user.subscribed %></td>
                      <td width="20%">
                          <a class="btn btn-primary" href="/articles/edit/<%= user.id %>">Edit</a>
                          <a class="btn btn-danger" href="/articles/delete/<%= user.id %>">Delete</a>
                      </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
      </article>
    </section>
    <section class="main-section" id="user-game-biodata">
      <header>user_game_biodata</header>
      <article>
        <p>
          JavaScript and Java are similar in some ways but fundamentally different in some others. The JavaScript
          language resembles Java but does not have Java's static typing and strong type checking. JavaScript follows
          most Java expression syntax, naming conventions and basic control-flow constructs which was the reason why it
          was renamed from LiveScript to JavaScript.
        </p>
        <p>
          In contrast to Java's compile-time system of classes built by declarations, JavaScript supports a runtime
          system based on a small number of data types representing numeric, Boolean, and string values. JavaScript has
          a prototype-based object model instead of the more common class-based object model. The prototype-based model
          provides dynamic inheritance; that is, what is inherited can vary for individual objects. JavaScript also
          supports functions without any special declarative requirements. Functions can be properties of objects,
          executing as loosely typed methods.
        </p>
        <p>
          JavaScript is a very free-form language compared to Java. You do not have to declare all variables, classes,
          and methods. You do not have to be concerned with whether methods are public, private, or protected, and you
          do not have to implement interfaces. Variables, parameters, and function return types are not explicitly
          typed.
        </p>
      </article>
    </section>
    <section class="main-section" id="user-game-history">
      <header>user_game_history</header>
      <article>
        <p>The latest ECMAScript standard defines seven data types:</p>
        <ul>
          <li>Six data types that are primitives:
            <ul>
              <li>Boolean. true and false.</li>
              <li>null. A special keyword denoting a null value. Because JavaScript is case-sensitive, null is not the
                same as Null, NULL, or any other variant.</li>
              <li>undefined. A top-level property whose value is undefined.</li>
              <li>Number. 42 or 3.14159.</li>
              <li>String. "Howdy"</li>
              <li>Symbol (new in ECMAScript 2015). A data type whose instances are unique and immutable.</li>
            </ul>
          </li>
          <li>and Object</li>
        </ul>
      </article>
    </section>
  </main>

  <%- include('../partials/script') %>
</body>

</html>